# Working with RSS Feeds Lab

Complete the following set of exercises to solidify your knowledge of parsing RSS feeds and extracting information from them.

In [20]:
import feedparser

### 1. Use feedparser to parse the following RSS feed URL.

In [3]:
nasa = feedparser.parse('https://www.nasa.gov/news-release/feed/')

In [7]:
print(nasa['feed'])

{'title': 'NASA', 'title_detail': {'type': 'text/plain', 'language': None, 'base': 'https://www.nasa.gov/news-release/feed/', 'value': 'NASA'}, 'links': [{'href': 'https://www.nasa.gov/news-release/feed/', 'rel': 'self', 'type': 'application/rss+xml'}, {'rel': 'alternate', 'type': 'text/html', 'href': 'https://www.nasa.gov'}], 'link': 'https://www.nasa.gov', 'subtitle': 'Official National Aeronautics and Space Administration Website', 'subtitle_detail': {'type': 'text/html', 'language': None, 'base': 'https://www.nasa.gov/news-release/feed/', 'value': 'Official National Aeronautics and Space Administration Website'}, 'updated': 'Wed, 21 Feb 2024 13:53:53 +0000', 'updated_parsed': time.struct_time(tm_year=2024, tm_mon=2, tm_mday=21, tm_hour=13, tm_min=53, tm_sec=53, tm_wday=2, tm_yday=52, tm_isdst=0), 'language': 'en-US', 'sy_updateperiod': 'hourly', 'sy_updatefrequency': '1', 'generator_detail': {'name': 'https://wordpress.org/?v=6.3.3'}, 'generator': 'https://wordpress.org/?v=6.3.3'}

### 2. Obtain a list of components (keys) that are available for this feed.

In [5]:
nasa.keys()

dict_keys(['bozo', 'entries', 'feed', 'headers', 'etag', 'updated', 'updated_parsed', 'href', 'status', 'encoding', 'version', 'namespaces'])

### 3. Obtain a list of components (keys) that are available for the *feed* component of this RSS feed.

In [10]:
#nasa['feed'].keys()
nasa.feed.keys()

dict_keys(['title', 'title_detail', 'links', 'link', 'subtitle', 'subtitle_detail', 'updated', 'updated_parsed', 'language', 'sy_updateperiod', 'sy_updatefrequency', 'generator_detail', 'generator'])

### 4. Extract and print the feed title, subtitle, author, and link.

In [24]:
#feed_nasa = nasa['feed'][['title']['subtitle']['link']]

print(nasa['feed']['title'], nasa['feed']['subtitle'], nasa['feed']['link'])

NASA Official National Aeronautics and Space Administration Website https://www.nasa.gov

"\n# Extraer los valores de las claves\n\ntitle = nasa_feed.get('title')\nsubtitle = nasa_feed.get('subtitle')\nlink = nasa_feed.get('link')\n\n"

### 5. Count the number of entries that are contained in this RSS feed.

In [25]:
len(nasa['entries'])

10

### 6. Obtain a list of components (keys) available for an entry.

*Hint: Remember to index first before requesting the keys*

In [26]:
nasa['entries'][0].keys()

dict_keys(['title', 'title_detail', 'links', 'link', 'authors', 'author', 'author_detail', 'published', 'published_parsed', 'tags', 'id', 'guidislink', 'summary', 'summary_detail', 'content'])

### 7. Extract a list of entry titles.

In [43]:
# Extraer todos los títulos de la lista 'entries'
titulo_entries = [entry['title'] for entry in nasa['entries']]

print(titulo_entries)

['NASA Selects University Teams to Explore Innovative Aeronautical Research', 'Become a SunSketcher, and Help Measure the Shape of the Sun!', 'NASA Sets Coverage of First US Uncrewed Commercial Moon Landing', 'NASA Tech Tuesday: Seeing is Communicating', 'Annual Highlights of Results 2023: Introduction and Analyses', '2023 Annual Highlights of Results from the International Space Station', 'Renee King: Ensuring Space for Everyone', '55 Years Ago: Five Months Until the Moon Landing', 'NASA-Funded Science Projects Tuning In to ‘Eclipse Radio’', 'NASA-Funded Science Projects Tuning In to ‘Eclipse Radio’']

### 8. Calculate the percentage of "Four short links" entry titles.

In [ ]:
# No se puede hacer.

### 9. Create a Pandas data frame from the feed's entries.

In [36]:
import pandas as pd

In [53]:
df = pd.DataFrame(pd.json_normalize(nasa['entries']))

df

,title,links,link,authors,author,published,published_parsed,tags,id,guidislink,...,content,title_detail.type,title_detail.language,title_detail.base,title_detail.value,author_detail.name,summary_detail.type,summary_detail.language,summary_detail.base,summary_detail.value
0,NASA Selects University Teams to Explore Innov...,"[{'rel': 'alternate', 'type': 'text/html', 'hr...",https://www.nasa.gov/aeronautics/university-te...,[{'name': 'Jim Banke'}],Jim Banke,"Wed, 21 Feb 2024 05:50:33 +0000","(2024, 2, 21, 5, 50, 33, 2, 52, 0)","[{'term': 'Aeronautics', 'scheme': None, 'labe...",https://www.nasa.gov/?p=617878,False,...,"[{'type': 'text/html', 'language': None, 'base...",text/plain,None,https://www.nasa.gov/news-release/feed/,NASA Selects University Teams to Explore Innov...,Jim Banke,text/html,None,https://www.nasa.gov/news-release/feed/,NASA has selected another five university team...
1,"Become a SunSketcher, and Help Measure the Sha...","[{'rel': 'alternate', 'type': 'text/html', 'hr...",https://science.nasa.gov/get-involved/citizen-...,[{}],,"Tue, 20 Feb 2024 21:35:49 +0000","(2024, 2, 20, 21, 35, 49, 1, 51, 0)","[{'term': 'Citizen Science', 'scheme': None, '...",https://science.nasa.gov/get-involved/citizen-...,False,...,"[{'type': 'text/html', 'language': None, 'base...",text/plain,None,https://www.nasa.gov/news-release/feed/,"Become a SunSketcher, and Help Measure the Sha...",NaN,text/html,None,https://www.nasa.gov/news-release/feed/,What shape Is the Sun? Hint: it’s not perfectl...
2,NASA Sets Coverage of First US Uncrewed Commer...,"[{'rel': 'alternate', 'type': 'text/html', 'hr...",https://www.nasa.gov/news-release/nasa-sets-co...,[{'name': 'Tiernan P. Doyle'}],Tiernan P. Doyle,"Tue, 20 Feb 2024 20:11:21 +0000","(2024, 2, 20, 20, 11, 21, 1, 51, 0)","[{'term': 'Commercial Space', 'scheme': None, ...",https://www.nasa.gov/?post_type=press-release&...,False,...,"[{'type': 'text/html', 'language': None, 'base...",text/plain,None,https://www.nasa.gov/news-release/feed/,NASA Sets Coverage of First US Uncrewed Commer...,Tiernan P. Doyle,text/html,None,https://www.nasa.gov/news-release/feed/,As part of NASA’s CLPS (Commercial Lunar Paylo...
3,NASA Tech Tuesday: Seeing is Communicating,"[{'rel': 'alternate', 'type': 'text/html', 'hr...",https://www.nasa.gov/directorates/stmd/tech-tr...,[{'name': 'Andrew Wagner'}],Andrew Wagner,"Tue, 20 Feb 2024 19:15:55 +0000","(2024, 2, 20, 19, 15, 55, 1, 51, 0)","[{'term': 'Spinoffs', 'scheme': None, 'label':...",https://www.nasa.gov/?p=617370,False,...,"[{'type': 'text/html', 'language': None, 'base...",text/plain,None,https://www.nasa.gov/news-release/feed/,NASA Tech Tuesday: Seeing is Communicating,Andrew Wagner,text/html,None,https://www.nasa.gov/news-release/feed/,Eye-tracking technology supported by NASA make...
4,Annual Highlights of Results 2023: Introductio...,"[{'rel': 'alternate', 'type': 'text/html', 'hr...",https://www.nasa.gov/missions/station/iss-rese...,[{'name': 'Ana Guzman'}],Ana Guzman,"Tue, 20 Feb 2024 19:08:50 +0000","(2024, 2, 20, 19, 8, 50, 1, 51, 0)","[{'term': 'ISS Research', 'scheme': None, 'lab...",https://www.nasa.gov/?p=614944,False,...,"[{'type': 'text/html', 'language': None, 'base...",text/plain,None,https://www.nasa.gov/news-release/feed/,Annual Highlights of Results 2023: Introductio...,Ana Guzman,text/html,None,https://www.nasa.gov/news-release/feed/,After 25 years of international collaboration ...
5,2023 Annual Highlights of Results from the Int...,"[{'rel': 'alternate', 'type': 'text/html', 'hr...",https://www.nasa.gov/missions/station/iss-rese...,[{'name': 'Ana Guzman'}],Ana Guzman,"Tue, 20 Feb 2024 19:06:31 +0000","(2024, 2, 20, 19, 6, 31, 1, 51, 0)","[{'term': 'ISS Research', 'scheme': None, 'lab...",https://www.nasa.gov/?p=614912,False,...,"[{'type': 'text/html', 'language': None, 'base...",text/plain,None,https://www.nasa.gov/news-release/feed/,2023 Annual Highlights of Results from the Int...,Ana Guzman,text/html,None,https://www.nasa.gov/news-release/feed/,The 2023 Annual Highlights of Results from the...
6,Renee King: Ensuring Space for Everyone,"[{'rel': 'alternate', 'type': 'text/html', 'hr...",https://www.nasa.gov/people-of-nasa/goddard-pe...,[{'name': 'Madison Olson'}],Madison Olson,"Tue, 20 Feb 2024 18:25:02 +0000","(2024, 2, 20, 18, 25, 2, 1, 51, 0)","[{'term': 'People of Goddard', 'scheme': None,...",https://www.nasa.gov/?p=617415,False,...,"[{'type': 'text/html', 'language': None, 'base...",text/plain,None,https://www.nasa.gov/news-release/feed/,Renee King: Ensuring Space for Everyone,Madison Olson,text/html,None,https://www.nasa.gov/news-release/feed/,Renee King calls herself Goddard Space Flight ...
7,55 Years Ago: Five Months Until the Moon Landing,"[{'rel': 'alternate', 'type': 'text/html', 'hr...",https://www.nasa.gov/history/55-years-ago-five...,[{'name': 'Kelli Mars'}],Kelli Mars,"Tue, 20 Feb 2024 17:33:12 +0000","(2024, 2, 20, 17, 33, 12, 1, 51, 0)","[{'term': 'NASA History', 'scheme': None, 'lab...",https://www.nasa.gov/?p=617293,False,...,"[{'type': 'text/html', 'language': None, 'base...",text/plain,None,https://www.nasa.gov/news-release/feed/,55 Years Ago: Five Months Until the Moon Landing,Kelli Mars,text/html,None,https://www.nasa.gov/news-release/feed/,Following the success of the Apollo 8 circumlu...
8,NASA-Funded Science Projects Tuning In to ‘Ecl...,"[{'rel': 'alternate', 'type': 'text/html', 'hr...",https://science.nasa.gov/solar-system/skywatch...,[{}],,"Tue, 20 Feb 2024 17:23:16 +0000","(2024, 2, 20, 17, 23, 16, 1, 51, 0)","[{'term': '2024 Solar Eclipse', 'scheme': None...",https://science.nasa.gov/solar-system/skywatch...,False,...,"[{'type': 'text/html', 'language': None, 'base...",text/plain,None,https://www.nasa.gov/news-release/feed/,NASA-Funded Science Projects Tuning In to ‘Ecl...,NaN,text/html,None,https://www.nasa.gov/news-release/feed/,"On April 8, 2024, a total solar eclipse will c..."
9,NASA-Funded Science Projects Tuning In to ‘Ecl...,"[{'rel': 'alternate', 'type': 'text/html', 'hr...",https://science.nasa.gov/solar-system/skywatch...,[{}],,"Tue, 20 Feb 2024 17:23:16 +0000","(2024, 2, 20, 17, 23, 16, 1, 51, 0)","[{'term': '2024 Solar Eclipse', 'scheme': None...",https://science.nasa.gov/solar-system/skywatch...,False,...,"[{'type': 'text/html', 'language': None, 'base...",text/plain,None,https://www.nasa.gov/news-release/feed/,NASA-Funded Science Projects Tuning In to ‘Ecl...,NaN,text/html,None,https://www.nasa.gov/news-release/feed/,"On April 8, 2024, a total solar eclipse will c..."

### 10. Count the number of entries per author and sort them in descending order.

In [54]:
authors = df.groupby('author', as_index=False).agg({'title':'count'})
authors.columns = ['author', 'entries']
authors.sort_values('entries', ascending=False)

             author  entries
0                          3
1        Ana Guzman        2
2     Andrew Wagner        1
3         Jim Banke        1
4        Kelli Mars        1
5     Madison Olson        1
6  Tiernan P. Doyle        1

### 11. Add a new column to the data frame that contains the length (number of characters) of each entry title. Return a data frame that contains the title, author, and title length of each entry in descending order (longest title length at the top).

In [52]:
df['title_length'] = df['title'].apply(len)
df[['title', 'author', 'title_length']].sort_values('title_length', ascending=False).head()

,title,author,title_length
0,NASA Selects University Teams to Explore Innov...,Jim Banke,73
5,2023 Annual Highlights of Results from the Int...,Ana Guzman,70
2,NASA Sets Coverage of First US Uncrewed Commer...,Tiernan P. Doyle,63
1,"Become a SunSketcher, and Help Measure the Sha...",,60
4,Annual Highlights of Results 2023: Introductio...,Ana Guzman,60

### 12. Create a list of entry titles whose summary includes the phrase "machine learning."

In [55]:
lst = []

for i in df['title']:
    if 'machine learning' in i.lower():
        lst.append(i)

print(lst)

[]